crawler/EN/blurbs_en_backup/
crawler/EN/en_blurbs_isbn_url.txt
ref_data/
JabRef-4.2.jar
Examples/
checkpoints/
code/capsule_ref/result/
resources/glove.840B.300d.txt
crawler/DE/blurbs_ger/*
crawler/EN/blurbs_en_original/*
code/mv/*
code/__pycache__/*
code/..checkpoints/
sigcapsnets/
code/__pycache__/data_helpers.cpython-35.pyc
crawler/EN/blrubs_en_backup
crawler/EN/blurbs_en_raw
crawler/EN/blurbs_en_raw_with_title_utf8/
crawler/EN/blurbs_en_strip_with_title_ascii/
checkpoints_old_dataset/
resources/*
datasets
code/comp_questions_loader.py

