crawler/EN/blurbs_en_backup/
crawler/EN/en_blurbs_isbn_url.txt
ref_data/
JabRef-4.2.jar
Examples/
checkpoints/
code/capsule_ref/result/
resources/glove.840B.300d.txt
crawler/DE/blurbs_ger/*
crawler/EN/blurbs_en_original/*
code/mv/*
code/__pycache__/*
code/..checkpoints/
sigcapsnets/
code/__pycache__/data_helpers.cpython-35.pyc
crawler/EN/blrubs_en_backup
crawler/EN/blurbs_en_raw
crawler/EN/blurbs_en_raw_with_title_utf8/
crawler/EN/blurbs_en_strip_with_title_ascii/
checkpoints_old_dataset/
resources/GoogleNews-vectors-negative300.bin
resources/GoogleNews-vectors-negative300.txt
resources/german.model
resources/test_DE_spacy
resources/test_EN_spacy
resources/train_DE_spacy
resources/train_EN_spacy
resources/DE_1_spacy_True
resources/DE_2_spacy_True
resources/DE_spacy_True
resources/reuters_multilabel_dataset.hdf5
resources/DE_1_spacy_basicTrue
resources/EN_1_spacy_True
resources/EN_1_spacy_basicTrue
resources/EN_3_spacy_True
resources/EN_3_spacy_basicTrue
resources/wiki.de.bin
resources/wiki.de.vec
resources/wiki.de.zip
resources/wiki.en.bin
resources/wiki.en.vec
resources/wiki.en.zip
crawler/EN/blurbs_en_small/
crawler/DE/blurbs_ger_old/
crawler/DE/blurbs_ger_pruned/
crawler/DE/folder_description.txt
crawler/EN/sites/
resources/DE_pruned/train_o/dev/
resources/DE_pruned/train_o/train/
resources/DE_spacyTrue
resources/DE_spacy_prunedTrue
crawler/DE/blurbs_ger_outliers/
crawler/EN/blurbs_en_outliers/
resources/EN_outlier/
resources/EN_spacy_pruned
resources/EN_spacy_prunedTrue_old
resources/EN_spacy_pruned_2
resources/embed_EN_100
resources/embed_EN_100_2
resources/
code/data
crawler/
